.profile-right form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.profile-right label {
    font-size: large;
}

.add-inputs input,
textarea {
    padding: 0.5rem;
    border-radius: 8px;
    width: 100%;
}

.profile-right form button {
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(83, 83, 236);
    color: white;
    font-size: medium;
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
}

.profile-right select {
    padding: 0.5rem;
}