.profile {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

.profile-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.profile-card {
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    max-width: 450px;
    position: relative;
}

.profile-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}



.profile-card-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
}

.username {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.followings-box {
    display: flex;
    justify-content: space-around;
}

.vl {
    border-left: 1px solid white;
}

.profile-card button {
    width: 70%;
    display: block;
    margin: auto;
    padding: 0.3rem;
    background-color: rgb(83, 83, 236);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
}

.profile-right {
    flex: 2;
    padding: 0 2rem;
}

.edit {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
}


.profile-edit {
    position: fixed;
    top: 11.5vh;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 86vh;
    backdrop-filter: blur(10px);
    color: black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-container {
    background-color: rgb(152, 201, 244);
    width: 30%;
    margin: auto;
    padding: 2rem;
    border-radius: 4px;
    position: relative;
}

.edit-container form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.edit-container form input {
    padding: 0.3rem;
    border-radius: 4px;
    width: 100%;
    border: 1px solid gray;
}

.edit-container form input:focus {
    outline: none;
}

.rows {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.edit-container form button {
    padding: 0.5rem;
    background-color: blue;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width:780px) {
    .profile {
        flex-direction: column;
    }

    .edit-container {
        width: 80%;
    }

    .profile-card img {
        height: 50vh;
    }
}