nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #042440;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 28px;
}

.nav-left ul {
    display: flex;
    gap: 1rem;
    font-size: 15px;
}


.nav-left ul li {
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid #042440;
    transition: all 0.3s ease;
}

.nav-left ul li:hover {
    border-bottom: 1px solid rgb(247, 95, 95);
}

.nav-right {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 4px;
}

.search input {
    background-color: transparent;
    border: none;
    color: white;

}

.search input::placeholder {
    color: white;
}

.search input:focus {
    outline: none;
}

.nav-right span {
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    background-color: aliceblue;
    color: black;
    border-radius: 8px;
    padding: 1.5rem;
    right: 10px;
    width: 180px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.menu li {
    cursor: pointer;
    font-size: larger;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;

}

.sidebar-icon {
    display: none;
}



@media screen and (max-width: 780px) {
    .nav-right {
        gap: 0.5rem;
    }

    .search {
        display: none;
    }

    .nav-left .logo {
        font-size: 22px;
    }

    .nav-left ul {
        display: flex;
        gap: 0.3rem;
        font-size: 12px;
    }

    .nav-left ul {
        display: none;
    }

    .sidebar-icon {
        display: block;
        cursor: pointer;
        font-size: 25px;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: rgb(134, 134, 131);
        position: absolute;
        right:0 ;
        top: 0;
        width: 45%;
        z-index: 2;
        font-size: larger;
        padding: 2rem ;
        height: 100vh;
    }
}