.blog-list {
    width: 100%;
    margin-top: 3rem;
}

.blogcontainer {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.category {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.category-card {
    border: 1px solid rgb(183, 180, 180);
    width: 100px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}


@media screen and (max-width:780px) {
    .category-card {
        font-size: 16px;
        width: 10%;
        padding: 1rem;
    }

    .category {
        gap: 1rem;
    }
}

@media screen and (max-width:520px) {
    .category {
        gap: 1rem;
    }

    .category-card {
        font-size: 10px;
        width: 8%;
        padding: 1rem;
    }
}